header input{
    border: none;
    outline:none;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    margin-right: 15px;
}
::placeholder { /* Most modern browsers support this now. */
   color: #CCD6E8;
}
.upheader{
    display: flex;
    justify-content: space-between;
}
.downheader{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}
.downheader li{
    float: left;
    margin-left: 35px;
}
header h1{
    color: #011F3B;
    font-size: 28px;
    margin: 0;
}
form{
    background-color: white;
    display: flex;
    height: 56px;
    width: 472px;
    align-items: center;
    border-radius: 10px;
}
.search_icon{
    height: 20px;
    margin-left: 23px;
    margin-right: 14px;
}
.category_inactive{
    color: #909BA7;
    margin-left: 30px;
    font-weight: 600;
}
.category_panel .active{
    color: #92BE3D;
    margin-left: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #92BE3D;
}
.product_showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    column-gap: 32px;
    row-gap: 21px;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}